<%- include('header', { title: 'The Fashion Connector' }) %>


<h1 class="header-title">
  Whoops! <%= type %> Error
</h1>

<div class="error-container">
    <p><%= message %>. Please use the navigation 
        links to get yourself back on track
    </p>
</div>


<div class="bottom-pic-banners">
  <div>
    <section>
      <p>autumn hues</p>
      <button><a href="/bags/leather"
      >shop now</a></button>
    </section>
    <img src="/static/static_bag_images/bottom_banner11.jpg" alt="bag-banner" />
  
  </div>
  <div>
    <section>
      <p>croc effect</p>
      <button><a href="/bags/tote"
      >shop now</a></button>
    </section>
    <img src="/static/static_jewellery_images/bottom_banner8.jpg" alt="bag-banner"
    />
  </div>
</div>









<script type="module" src="/static/js/assets/bottommenu-B2A_ZWII.js" defer></script>

<%- include('footer') %>