<%- include('header', { title: `The Fashion Connector - ${title}` }) %>

<div class="faq-container">
  <h1 class="header-title">frequently asked questions</h1>

  <div class="faq">
    <ul class="tos">
      <li class="tos">
        <a href="#t1">How does The Fashion Connector work?</a>
      </li>
      <li class="tos"><a href="#t2">How do I make a purchase?</a></li>
      <li class="tos">
        <a href="#t19">Why should I buy from The Fashion Connector?</a>
      </li>
      <li class="tos">
        <a href="#t21">How does your 14 day refund/exchange policy work?</a>
      </li>
      <li class="tos">
        <a href="#t3"
          >Am I required to set up an account before I place an order?</a
        >
      </li>
      <li class="tos">
        <a href="#t17">Is my personal information kept private</a>
      </li>
      <li class="tos">
        <a href="#t6"
          >What payments does The Fashion Connector accept and is it safe to use
          my credit/debit card on your site?</a
        >
      </li>
      <li class="tos">
        <a href="#t8">Can I choose the currency that I pay in?</a>
      </li>
      <li class="tos">
        <a href="#t7">Which countries do the Designers ship to?</a>
      </li>
      <li class="tos">
        <a href="#t20"
          >I've received an error message saying "<b
            >Product is not available in my country.</b
          >" Can I still buy from the designer?</a
        >
      </li>
      <li class="tos">
        <a href="#t8">How long does delivery take and how much does it cost?</a>
      </li>
      <li class="tos">
        <a href="#t9"
          >Is my package insured and do I have to sign for my order?</a
        >
      </li>
      <li class="tos">
        <a href="#t10">How much duties and taxes do I have to pay?</a>
      </li>
      <li class="tos"><a href="#t11">Can I ship to multiple addresses?</a></li>
      <li class="tos">
        <a href="#t12">Can I change or amend my order once it's been placed?</a>
      </li>
      <li class="tos">
        <a href="#t13">How do I return or exchange an item?</a>
      </li>
      <li class="tos">
        <a href="#t15">Will I be refunded the full value of my order</a>
      </li>
      <li class="tos">
        <a href="#t14">What happens if my order does not arrive</a>
      </li>
    </ul>

    <h3 id="t1">How does The Fashion Connector work?</h3>

    <p>
      The Fashion Connector, as the name indicates, is a fashion website that
      enables customers to buy beautiful & unique, limited edition jewellery,
      handbag and clothing products sourced by us and created by independent
      designers. All our designers are vetted, before they can use our platform
      thus any product you buy, using our website, should be of the highest
      quality. When purchasing jewellery products from The Fashion Connector you
      are buying directly from the corresponding designer (Seller). We therefore
      act as a link between you, the customer (buyer) and the designer –
      handling the payment on behalf of both the buyer and designer. We also
      have a dedicated customer care team, on hand 12 hours a day, to help in
      assisting you if you have any queries regarding the use of the site.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t2">How do I make a purchase?</h3>

    <p>
      Using The Fashion Connector website to buy products is very straight
      forward. You navigate around the site by clicking the links to the
      category pages e.g. accessories > bags > jewellery. Once you’ve decided
      which product you want to buy, you click on the “add to shopping bag”
      button. The product is then added to your shopping cart. You can add
      additional products or remove products as you please. When ready to pay
      you select the “proceed to checkout” link where you are taken to a secure
      page to enter your details. It’s at this stage that you will be required
      to register an account in order to complete your purchase. Once you
      completed your purchase you'll receive an automatic confirmation email,
      containing your order details, which will be sent to the email address you
      entered at checkout. You will also receive an email from our customer
      service department within 24 hours of you placing your order confirming
      receipt of your order. Customer Service will send you one final email once
      your order has been dispatched by the designer.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t19">Why should I buy from The Fashion Connector?</h3>

    <p>
      The Fashion Connector selects the very best independent clothing,
      jewellery and accessories designers to work with. This is to ensure our
      customers get the highest quality products and customer service. By
      purchasing from our website you get to own unique products which are in
      many cases made to order. So you're always going to be wearing something a
      little different from much of the mass produced fashion items out there.
      The designers, using our platform, can also produce bespoke and
      personalised gift items, which we can help you acquire, at your request.
      We also offer a price promise, meaning that if you find any product,
      featured on our website, cheaper elsewhere we'll offer you the product at
      the same price when you purchase the product from us. We also offer
      EXCLUSIVE discounts & offers to all our regular email subscribers, so we
      stongly encourage you to take advantage, of this facility, by subscribing
      to our newsletter. In addition to all of the above we're only an email or
      telephone call away should you ever need our assistance relating to any
      aspect of the website. Drop us a line or call us, we'd love to hear from
      you! Or you can read what other people, who've used our service, are
      saying about us:
      <a
        style="color: #000000; font: 13px arial; font-weight: bold"
        href="testimonials.html"
        >Testimonials</a
      >
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t21">How does your 14 day refund/exchange policy work?</h3>
    <p>
      In a nutshell you have 14 calender days, starting from the day after you
      receive your order to notify us of your return/cancellation request.
      <b
        >Please note, made-to-order items, personalised items or bespoke items
        (including rings that have been resized) are exempt from our 14 day
        return policy.</b
      >
      After you've notified us (via email or through our cancellation form) you
      have a further 14 days to return your order back to us. If you do decide
      to return your order please email us at:
      <b>(hello@thefashionconnector.com)</b> further to which you will be given
      return instructions on how to either safely return the product back to the
      designer or to our London headquarters. All orders must be returned within
      the timescales of our returns window to be eligible for a refund since
      late returns will not be accepted. Please note all items returned must be
      sent unused and in their original condition with all labels and tags in
      place. Items that have been used, visibly worn or damaged will not be
      accepted as a return.
    </p>
    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t3">Am I required to set up an account before I place an order?</h3>

    <p>
      Yes, in order to purchase products from a designer you need to register at
      checkout before you're taken to our secure payment page. Registration is
      simple and will take you less than 60 seconds. Don't worry, we won't
      disclose your email address to any third parties, neither will we bombard
      your email account with irrelevant marketing promotions.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t17">Is my personal information kept private?</h3>

    <p>
      Yes, we do not share any information given by you to a third party. Please
      read our privacy policy for more information concerning this matter.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t6">
      What payments does The Fashion Connector accept and is it safe to use my
      credit/debit card on your site.
    </h3>

    <p>
      We accept all major credit/debit cards such as Visa, UK Maestro and
      Mastercard. We also accept payments via Paypal. The methods of payment are
      shown on the website and you will also be asked to select your preferred
      method of payment at the payment stage. All our orders are processed
      through a secure checkout system provided by Barclay Card EPDQ. Their
      servers comply with worldwide standards for security transactions on the
      web. To ensure that you don't experience any delays to your order, please
      make sure all your details are entered correctly.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t8">Can I choose the currency that I pay in?</h3>
    <p>
      All prices displayed on the website are show in Sterling (GBP) and this is
      the default currency whereby payment is debited from your credit/debit
      card. If you are a customer whose credit/debit card is not denominated in
      Sterling, the final price will be calculated in accordance with the
      applicable exchange rate on the day your card issuer processes the
      transaction.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t7">Which countries do the designers ship to?</h3>

    <p>
      Most of the designers ship within the UK, Europe, Australia, Israel,
      United States, Canada & The Gulf Regions amongst other countries.
    </p>
    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t20">
      I've received an error message saying "<b
        >Product is not available in my country.</b
      >" Can I still buy from the designer?
    </h3>
    <p>
      Yes! If you receive this error message when you try to place items in your
      shopping basket you can still buy from the designer. You'll need to
      contact our customer care team first
      <b>info@thefashionconnector.com</b> and we'll arrange the transaction for
      you.
    </p>
    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t8">How long does delivery take and how much does it cost?</h3>
    <p>
      The cost for delivery and the estimated delivery times, provided by each
      designer, will be clearly indicated at checkout and alongside the
      individual product descriptions. As a general rule any items that the
      designer has in stock will be dispatched within 48 hours of you placing
      your order. With items that are made to order, delivery times will vary
      and will therefore be specific to the product. Shipping times are
      indicated on each product page underneath the "Delivery & Returns" tab.
      You can also contact us <b>hello@thefashionconnector.com</b> and we'd be
      happy to assist you with any questions you may have.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t9">Is my package insured and do I need to sign for my order?</h3>

    <p>
      As a general rule the shipment is the responsibility of the designer until
      it reaches the buyer. Once the goods are handed over to the buyer the
      responsibility for the package is passed to the buyer and the shipment is
      no longer insured. All deliveries are sent tracked, with online
      confirmation of delivery, and may require a signature before the product
      can be handed over. If you are unsure about any aspects of a designer's
      delivery/insurance policy then please email our customer care team:
      hello@thefashionconnector.com.

      <a class="back_to_top" href="#top">Back to top</a>
    </p>

    <h3 id="t10">How much duties and taxes do I have to pay?</h3>

    <p>
      From 1st January 2021, all purchases made from a customer based within the
      EU will be subject to customs duty, import VAT and local sales taxes on
      arrival in the destination country and in order to release your order from
      customs. In addition to this if you are a UK and EU customer buying from a
      designer based outside of the UK and EU your purchase will also be subject
      to customs duty, import VAT and any handling fees levied by the delivery
      carrier which will need to be paid by you, the buyer, before your purchase
      is released for delivery. The delivery company or courier responsible for
      delivering your order will notify you of the costs prior to delivery. It
      is the responsibility of the buyer (importer) to pay for any additional
      Customs Duty or Import VAT due. It is the responsibility of the seller to
      provide accurate details of the product being sent for duty and tax
      calculation purposes.
    </p>

    <p>
      For more information on Customs Duty and import VAT visit: (UK
      residents)&nbsp;
      <a
        class="back_to_top"
        href="http://www.hmrc.gov.uk/customs/post/buying.html"
        >HMRC Customs and Duty Information</a
      ><br />
      For more information on general duty tax rates visit &nbsp;<a
        class="back_to_top"
        href="http://www.dutycalculator.com"
        >Duty Calculator</a
      >
    </p>

    <p>
      <span style="font: 12px arial" class="style1"
        >Brief customs/duty guide for USA residents:</span
      >
    </p>

    <p>
      The importer is ultimately responsible for paying any duty owed on an
      import. If the item is less than $2,000.00, in value, a Customs Border
      Protection (CBP) official will usually prepare the import documents,
      assess the proper duty(which the importer will have to pay), and release
      it for delivery. Packages whose declared value is under $200 ($100 if
      being sent as a gift to someone other than the purchaser) will generally
      be cleared without a ny additional paperwork prepared by CBP. However, CBP
      always reserves the right to require a formal entry for any importation
      and generally exercises this option if there is something unusual about
      the importation, or if important documents such as an invoice or bill of
      sale do not accompany the item. If any duty is owed, CBP will charge a
      processing fee for clearing your package. Duty and the processing fee are
      usually paid at your local post office, where your package is forwarded.
      Nevertheless, it's always the responsibility of the buyer to check whether
      import taxes or duties are applicable, for their region, since all orders
      are shipped Delivery Duty Unpaid (DDU)
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t11">Can I ship items to multiple addresses?</h3>
    <p>
      We are only able to deliver to one address per order. If you would like to
      send your purchases to more than one address, we recommend you place a
      separate order for each destination.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t12">Can I change or amend my order once it has been placed?</h3>
    <p>
      Before your purchases have been prepared for dispatch, by the designer, we
      can cancel an item. If you cancel an order after it has been dispatched
      you will have to return the order back to designer and a refund will be
      issued. For items that are made to order, once the designer begins
      production of the order you are unable to cancel the order. Please note,
      orders for bespoke, customised or personalised products cannot be
      cancelled once placed.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t13">How do I return or exchange an item?</h3>

    <p>
      Making a return is hassle-free with our 14 day return/exchange policy. You
      can either contact us by email, <b>hello@thefashionconnector.com</b>
      nofitying us of your intentions to either return or exchange the product.
      Or you can download and complete our cancellation form:
      <a
        href="https://www.thefashionconnector.com/cancellation_form.pdf"
        target="_blank"
        style="color: #000000; font: 14px arial"
        ><b>Download Cancellation Form</b></a
      >. Which you can then email back to us. We will then provide you with
      returns instructions to send the product back safely to the designer or to
      our London headquarters. Please note, all return requests must be received
      within 14 calendars of delivery, of your order, to be eligible for a
      refund. If you've chosen to exchange your product the designer will send
      you out a replacement product once the returned product has been received.
      Exchange requests must also be received within 14 calendar days of
      receiving your order. IMPORTANT: All returned goods must be returned new &
      unused and where possible in their original packaging. designers can
      refuse to accept products that have been visibly used or damaged.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t15">Will I be refunded the full value of my order?</h3>
    <p>
      If you're an UK or EU resident purchasing from a designer based within the
      UK or EU you will be refunded the full value of your order including
      <b>standard</b> shipping costs. If you're a UK resident purchasing from a
      designer based outside of the UK or EU original shipping costs cannot be
      refunded. If you're a resident of a county outside of the EU original
      shipping costs are not refunded, for items, unless your items are faulty.
      Refunds are made in Sterling and the buyer must bear the cost of returning
      the product to the designer. Your refund will be issued to the original
      credit card used to place the order. Please note that it can take up to 10
      business days for the refund to appear in your account.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t14">What happens if my order does not arrive?</h3>
    <p>
      If you haven't received your order within the time-frame indicated by the
      designer please contact us: <b>hello@thefashionconnector.com</b>. We will
      contact the designer on your behalf to determine an estimated delivery
      time.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>
  </div>
</div>

<script type="module" src="/static/js/assets/bottommenu-B2A_ZWII.js" defer></script>

<%- include('footer') %>
