
<div class="footer-information">
  <div>
    <h5>Pay securely online</h5>
    <p>Visa and Mastercard debit/credit, American Express, PayPal, Diners, Discover</p>
    <img src="/static/general_images/footer-payment.jpg" />
  </div>

  <div>
    <h5>Free worldwide delivery</h5>
    <p>Free worldwide delivery on Monvatoo London orders over £110</p>
    <img src="/static/general_images/shipping_banner.jpg" />
  </div>

  <div>
    <h5>5 Star customer service </h5>
    <p>We're here to help so feel free to reach out to us </p>
      <img src="/static/general_images/customer_service_banner.jpg" />
  </div>


<div>
    <h5>Hassle free returns</h5>
    <p>Our simple 14 day returns policy takes the stress out of returns</p>
    <img src="/static/general_images/returns_banner.jpg" />
  </div>
</div>



<div class="footer-menu">
  <div class="menu-section">
    <p>About us</p>
    <ul>
      <li><a href="/customer-service/about">the company</a></li>
      <li><a href="/customer-service/testimonials">Testimonials</a></li>
      <li><a href="/customer-service/cookies">privacy policy & cookies</a></li>
      <li><a href="/customer-service/advertising">advertising</a></li>
       <li><a href="/customer-service/advertising">affiliates</a></li>
    </ul>
  </div>


  <div class="menu-section">
    <p>Customer care</p>
    <ul>
      <li><a href="/customer-service/contact">contact us</a></li>
      <li><a href="/customer-service/terms">terms</a></li>
      <li><a href="/customer-service/faq">faq's</a></li>
      <li><a href="/customer-service/terms#t8">exchanges & returns</a></li>
      <li><a href="/customer-service/terms#t6">payment</a></li>
    </ul>
  </div> 

  <div class="menu-section">
    <p>Browse products</p>
    <ul>
      <li><a href="/bags">handbags</a></li>
      <li><a href="/jewellery">jewellery</a></li>
      <li><a href="/clothing/allclothing">clothing</a></li>
      <li><a href="/designer-showcase">designer showcase</a></li>
    </ul>
  </div>

    <div class="menu-section">
    <p>Social media</p>
    <ul class="social-media">
      <li><img src ="/static/general_images/linkedin.jpg" alt="linkedin" /></li>
      <li><img src ="/static/general_images/x.jpg" alt="x"/></li>
      <li><img src ="/static/general_images/pinterest.jpg" alt="pinterest"/></li>
      <li><img src ="/static/general_images/tiktok.jpg" alt="tiktok" /></li>
    </ul>
  </div>
</div>

  <div class="desktop-subscribe">
    <p>Subscribe for discounts & offers</p>
    <p class="subscribe-text">Sign up to our newsletter to receive exclusive discounts,
      offers and promotions.
    </p>
    <p class="hidden-subscribe-text">
      By signing up you are agreeing to receive The Fashion Connector's newsletter featuring 
      selected fashion offers and discounts. 
       &nbsp; When you visit, use our websites and/or applications, your information will be 
       processed in accordance with our Privacy Policy 
       For more information, please refer to our <a href="/customer-service/cookies">Privacy Policy</a>. 
      &nbsp; You can withdraw your consent at any time by emailing <b>hello@thefashionconnector.com</b>.
    </p>
    <form id="form">
      <input type="email" id="input"  value="" size="20"  placeholder="Enter your email address" required />
      <p><button id="submit-button" type="submit">Sign Up</button></p>
    </form>
    <span id="subscribe-response"></span>
  </div>

<div class="mobile-subscribe">
  <p>Subscribe to our newsletter for exclusive discounts, offers and more</p>
  <p class="hidden-subscribe-mobile-text">
      By signing up you are agreeing to receive The Fashion Connector's newsletter featuring 
      selected fashion offers and discounts. 
       &nbsp; When you visit, use our websites and/or applications, your information will be 
       processed in accordance with our Privacy Policy 
       For more information, please refer to our <a href="/customer-service/cookies">Privacy Policy</a>. 
      &nbsp; You can withdraw your consent at any time by emailing <b>hello@thefashionconnector.com</b>.
    </p>
   <form id="mobile-form">
      <input type="email" id="mobile-input"  value="" size="20"  placeholder="Enter your email address" required />
      <p><button id="mobile-submit-button" type="submit">Sign Up</button></p>
    </form>
    <span id="mobile-subscribe-response"></span>
</div>

<div class="mobile-tab-bottom-menu">
  <button>customer care</button>
  <div class="hidden-text">
    <ul>
      <li><a href="/customer-service/terms">terms</a></li>
      <li><a href="/customer-service/faq">faq</a></li>
      <li><a href="/customer-service/terms#t8">Returns and exchanges</a></li>
      <li><a href="/customer-service/terms#t7">shipping information</a></li>
      <li><a href="/customer-service/terms#t6">payment security</a></li>
    </ul>
  </div>
   <button>about us</button>
   <div class="hidden-text">
     <ul>
      <li><a href="/customer-service/about-us">the company</a></li>
      <li><a href="/customer-service/testimonials">testimonials</a></li>
      <li><a href="/customer-service/terms#t13">privacy policy & cookies</a></li>
      <li><a href="/customer-service/advertising">advertising</a></li>
    </ul>
  </div>
    <button>contact us</button>
    <div class="hidden-text">
      <ul>
     <li><a href="/customer-service/contact">contact us</a></li>
      <li><a href="/customer-service/advertising">sell with us</a></li>
      </ul>
  </div>
</div>



<div class="payment-options">
  <p>The Fashion Connector Accepts: </p>
  <img src="/static/general_images/credit_card.jpg" alt="credit card options" />
</div>

<p class="copyright">&copy; The Fashion Connector Ltd 2026</p>

<div id="ROC_dropcart"></div>
<script src="https://remote.romancart.com/dropcart/ROC_dropcart.asp?storeid=60667&sd=www"></script>
<script type="module" src="/static/js/assets/form-Cm-CrOMS.js" defer></script> 
<script type="module" src="/static/js/assets/footer-DvkHUp3a.js" defer></script> 
<script type="module" src="/static/js/assets/search-C11z_1dD.js" defer></script> 
</body>
</html>
