<%- include('header', { title: `The Fashion Connector - ${title}`})
%>

<div class="terms-container">
  <div class="terms">
    <h1 class="header-title">terms and conditions</h1>
    <p>
      Use of this website www.thefashionconnector.com is subject to the
      following terms and conditions, as outlined by The Fashion Connector (“us”
      “we” “our website” “the website” “site”). By accessing browsing, using,
      placing an order or registering with us, you ("the user" "the buyer")
      confirm that you have read, understood and agree to these website terms in
      their entirety. If you do not agree to the website terms in their
      entirety, you should not use this website. We recommend that you check
      this page, regularly, to take note of any amendments we may have made to
      the terms. We reserve the right to withdraw or amend the terms, and
      services, provided on this website without notice. We will not be liable
      if for any reason this website is unavailable at any time or for any
      period. We are also entitled to suspend all or part of the website and its
      services for repairs, upgrades, maintenance or any other such necessary
      work without notice. We also reserve the right to make any changes to the
      website’s operational functions and content including the discontinuation
      of products and website features. This website also contains links to
      other websites hosted by our partners. When you activate these links, you
      will leave our site and we will have no control or accept any liability
      for the content of other sites once you leave our site. Your use of the
      linked sites will therefore be subject to the terms and conditions
      contained within each such site. The Fashion Connector is a trading name
      of The Fashion Connector Ltd, a company registered in England and Wales
      under registration number 08465539. Our registered office address is 160A
      Villiers Road, London, NW2 5PU, UNITED KINGDOM. By placing an order via
      this website you agree that you are capable of entering into binding
      contracts and that you are at least 18 years of age.
    </p>

    <ul class="tos">
      <li class="tos"><a href="#t2">Registration</a></li>
      <li class="tos">
        <a href="#t3"
          >Eligibility to purchase and your contract with the designer and The
          Fashion Connector</a
        >
      </li>
      <li class="tos"><a href="#t4">Orders</a></li>
      <li class="tos"><a href="#t22">Pricing policy</a></li>
      <li class="tos"><a href="#t5">Acceptance of your order</a></li>
      <li class="tos"><a href="#t6">Payment</a></li>
      <li class="tos">
        <a href="#t7">Delivery, insurance, import VAT & customs duty</a>
      </li>
      <li class="tos"><a href="#t8">Returns and exchanges</a></li>
      <li class="tos"><a href="#t9">Receiving a refund</a></li>
      <li class="tos"><a href="#t10">Faulty goods</a></li>
      <li class="tos"><a href="#t11">Intellectual property and software</a></li>
      <li class="tos">
        <a href="#t12">Proprietary rights in images and products</a>
      </li>
      <li class="tos"><a href="#t13">Privacy</a></li>
      <li class="tos"><a href="#t14">Cookies</a></li>
      <li class="tos"><a href="#t16">Accuracy of content</a></li>
      <li class="tos">
        <a href="#t1">Damage to your computer or other device</a>
      </li>
      <li class="tos"><a href="#t19">Limits on our liability</a></li>
      <li class="tos"><a href="#t20">Compensation</a></li>
    </ul>

    <h3 id="t2">REGISTRATION</h3>

    <p>
      To use some of the services or features made available to you on this
      site, or to make a purchase, during checkout, you will need to register.
      When you register you are required to provide information about yourself
      that is true, accurate, current, and correct. We reserve the right to only
      accept orders from those over 18 years. The Fashion Connector reserves the
      right to, without notice, temporarily or permanently disable your account
      and access to the website and your ability to browse the website if we
      believe that for any reason you have breached any of the prohibitions as
      outlined in the terms. We also reserve the right, without reason or
      notice, to reject your application at checkout
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t3">
      ELIGIBILITY TO PURCHASE & YOUR CONTRACT WITH THE DESIGNER AND THE FASHION
      CONNECTOR
    </h3>
    <p>
      For a more brief summary of our terms please refer to our Frequently Asked
      Questions:
      <a
        style="
          font-size: 14px;
          color: #000000;
          font-weight: bold;
          font-family: arial;
        "
        href="faq.html"
        >FAQ's</a
      >
    </p>

    <p>
      The Fashion Connector is an online, ecommerce, fashion website allowing
      you to purchase high quality clothing, handbag, and jewellery products
      directly from us and from the various independent designer brands
      (Sellers) using the website. With the exception of the products stocked by
      us and sold directly, to you, via our Luxe Collection, The Fashion
      Connector acts as an, online, intermediary between the buyer and the
      designer brand allowing the buyer to make a purchase, securely, from the
      designer via our website. Therefore, when purchasing a designer brand, the
      contract with regards to the Sale of Goods is with the designer, not The
      Fashion Connector. By making an online purchase via The Fashion Connector
      website you are allowing The Fashion Connector to handle the secure
      payment for your purchase. Each designer is vetted before they can use The
      Fashion Connector platform. In addition to this each designer has agreed
      to provide, a no-quibble, 14 day, refund or exchange on any item (with the
      exception of bespoke items (including rings that have been re-sized,
      earrings from the Monvatoo London collection, personalised items and
      made-to-order items) purchased via the website. This means that you have
      14 calendar days, starting from the day after you receive the product, to
      notify us of your return request. Once you've notified us of your return
      request, you have a further 14 calendar days to return your item. We will
      issue you with returns instructions on how to return your order back to
      either us, directly, or the designer,
      <b
        >Please note your order must be returned within 14 calendar days of
        receiving your returns instructions to be eligible for a refund. In
        addition to this you must notify us within 14 calendar days, starting
        from the day after you receive your order, if you wish to return/cancel
        your order as this time period constitutes the consumer cooling off
        period. Any return requests received outside of the 14 day cooling off
        period will not be accepted and hence no returns instructions will be
        issued.</b
      >
      With the exception of our Luxe and Vegan Luxe Collection, any product
      purchased via our website will be sent to you directly from the designer's
      studio/headquarters and The Fashion Connector does not handle this
      shipment process Rather the designer handles the secure shipment to ensure
      the product is sent safely and promptly to you the buyer. However, we do
      manage all aspects of website customer care, customer service and
      administration and are therefore at hand to help should you have any
      product queries, or issues, relating to a sales transaction undertaken on
      our website. In order to make purchases via our site you will be required
      to provide your details at checkout. You will need to provide your real
      name, e-mail address and other requested information as indicated at
      checkout.
      <b>We will never disclose your personal details to any third parties.</b>
      You will also have to provide valid and correct payment details. By doing
      this you confirm that you are the person referred to in the billing
      information, you provide, and are not impersonating any other person or
      entity or using a false name or a name that you are not authorised to use.
      If you have any questions about a product or service offered by the
      various designers you can contact our customer care team directly via
      email:
      <b>hello@thefashionconnector.com</b>. Our customer services team are your
      first point of call. We will respond to all email enquiries within 1 hour
      during business hours and we are available 12 hours a day to assist you
      with any questions you may have. By registering at checkout, you
      acknowledge and agree that The Fashion Connector provides you with the
      facility to browse the content of the website, and purchase products, from
      us and the designer, using our website functions. Thus, once your goods
      are dispatched the contract formed for the sale of goods, except for the
      Luxe and Vegan Luxe Collection, is between you the buyer and the designer,
      not The Fashion Connector. As a result the Fashion Connector, by law,
      shall not be liable in any way in relation to the sale of goods contract
      between the buyer and the designer. We will however, always be available
      to assist you with any queries you have and will always contact the
      designer on your behalf, where necessary, as part of our dedicated
      customer care service. Every designer using The Fashion Connector platform
      is committed to providing excellent customer services as part of their
      buying protection. In addition to this our customer care team are always
      available to help, in any way we can. In the rare case a complaint arises
      from the buyer regarding the sale of goods we will take every effort to
      assist both the buyer and designer to reach an amicable resolution.
      Therefore, you can buy with confidence via The Fashion Connector.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t4">ORDERS</h3>
    <p>
      All orders are subject to acceptance and availability, and items in your
      shopping basket are not reserved and may be purchased by other customers.
      If you wish to make an enquiry before you place an order, please contact
      us:
      <b>hello@thefashionconnector.com</b> and we will assist you with your
      enquiry and/or purchase. During business hours we aim to respond to all
      email enquiries within 1 hour.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t22">PRICING POLICY</h3>
    <p>
      The prices shown are in GBP (Sterling) and are inclusive of UK sales VAT,
      where applicable, at the corresponding rate. If you are a customer whose
      credit/debit card is not denominated in Sterling, the final price will be
      calculated in accordance with the applicable exchange rate on the day your
      card issuer processes the transaction. Please note, the product prices
      shown are in sterling and include sales VAT (where applicable) and at
      checkout a shipping charge will be calculated to give the final purchase
      price. However, if you are importing a product from a designer outside of
      the region you reside in, additional import duty and taxes may be added by
      the delivery carrier, which you will have to pay for before your item is
      released. So for example if you are an EU resident buying from a designer
      that is not based in the UK or USA (importing from outside the EU) customs
      duty and import VAT may apply. Likewise if you are a UK or EU resident
      buying from a designer based in the USA customs duty and import VAT may
      also apply. We recommend you contact your local customs authority to
      determine a landed cost price prior to purchase completion. As many items
      can be imported without paying any duty at all. More information
      concerning duty calculations can be found at: &nbsp;
      <a
        style="color: black; font: bold 16px calibri; text-transform: uppercase"
        href="https://www.dutycalculator.com"
        target="_blank"
        >Duty Caluclator</a
      >
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t5">ACCEPTANCE OF YOUR ORDER</h3>
    <p>
      Once you have made your choice, entered your details at checkout and
      payment you will receive an email, from The Fashion Connector,
      acknowledging the details of your order. This email is not an acceptance
      of your order, just a confirmation that we have received your order.
      Unless you cancel your order, acceptance of your order and completion of
      the contract between you and the designer will be completed when you
      receive a confirmation email verifying the goods have been dispatched. The
      sales contract is therefore concluded between you the Buyer and the Seller
      (designer). We reserve the right not to process or accept a transaction in
      the event, for example, that we are unable to obtain authorisation for a
      payment, that the designer indicates shipping restrictions apply to a
      particular item, that the designer indicates that the item ordered is out
      of stock or has been withdrawn or that you do not meet the eligibility
      criteria set out within our terms and conditions. We can also refuse to
      process and therefore accept a transaction for any reason or refuse
      service to anyone at any time at our sole discretion. We will not be
      liable to you or any third party for this refusal or by reason of our
      withdrawing any products from the website. We will also not be liable for
      any refusal, on our part, to process a transaction or for the unwinding or
      suspending any transaction after processing has begun.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t6">PAYMENT</h3>
    <p>
      Payment can be made by Master Card, Visa, American Express, Visa Debit,
      Visa Electron, MasterCard Debit, Maestro & PayPal. Any other methods of
      payment options, available, will be clearly indicated on the website.
      Payments made by debit/credit card will be processed in Sterling (GBP).
      All credit/debit card holders are subject to validation checks and
      authorisation by the card issuer. If the issuer of your payment card
      refuses to authorise payment to THE FASHION CONNECTOR LTD, we will not be
      liable for any delay or non-delivery of products. We take good care to
      make our website secure. All credit/debit card transactions on this site
      are processed using Barclays Payments a 3D secure online payment gateway
      that encrypts your card details in a securely hosted server. However, The
      Fashion Connector will not store your credit/debit card details on our
      systems. Any information relating to your credit/debit card transactions
      will be securely stored on our partners hosted secure servers. These
      details will be fully encrypted and only used to process card transactions
      which you have made. To facilitate the safety of your shopping experience,
      The Fashion Connector uses hosted servers that utilize Secure Socket Layer
      (SSL), 3D Secure technology and that are PCI DSS compliant. In addition to
      this we take good care to keep the details of your order and payment safe
      and secure. However, where there has been no negligence on our part we
      cannot be held liable for any loss you may suffer if a third party gains
      unauthorised access to any information you provide when accessing or
      ordering from the website.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t7">DELIVERY, INSURANCE, IMPORT VAT & CUSTOMS DUTY</h3>
    <p>
      From 1st January 2021 the United Kingdom left the European Union and hence
      the single market. Consequently, any item purchased online, leaving the
      UK, is classified as an export and therefore the recipient of the item
      will be liable for import VAT and customs duty which must be paid, by the
      receiver/buyer before the item can be released from customs. Refusal of
      the receiver/buyer to pay the relevant taxes and duties, or to collect
      their item, from the delivery depot, in the event of a failed courier
      delivery, will result in the product being returned to us or the designer.
      The buyer will bear any return costs incurred, including any handling
      charges, due to refusal of the buyer to pay the required import VAT and
      duty charges to receive their goods, or the refusal of the buyer to
      collect their goods from the relevant delivery depot in the event of an
      unsuccessful courier delivery. If the item is destroyed by customs due to
      the buyer's failure to pay the relevant taxes and duties, or collect their
      goods, no refund will be issued by The Fashion Connector to the buyer for
      the original payment of goods. If the item is a bespoke, customised or
      personalised item and the buyer refuses to pay the relevant duties and
      taxes for the release of their goods, no refund will be issued by The
      Fashion Connector, even if the item is successfully returned to the
      designer by the courier. All designers using The Fashion Connector ship
      worldwide so wherever you are in the world you can get your favourite item
      delivered to you. If you're unsure of any aspects of our designer's
      delivery policy, you can email our customer care team at:
      <b>hello@thefashionconnector.com</b> during office hours and we will be
      happy to assist you. As a general rule the product remains the
      responsibility of the designer, or where applicable, us, until it reaches
      the specified delivery address. Once the goods are delivered and/or signed
      for the responsibility for the product passes to the buyer. If you specify
      a recipient who is not you for delivery purposes e.g. if you are buying a
      gift for someone then you agree that delivery at the gift recipient’s
      delivery address indicates the fulfilment of the order by the designer and
      transfer of responsibility in the same way. Most designers aim to dispatch
      their products within 2 business days. This timeframe would not, of
      course, apply to goods that are made to order. Standard orders placed on a
      Friday will be dispatched the next working day. Please note, all time
      frames indicated relate to business/working days. Delivery times indicated
      by designers are to be used as a guide only and start from the date of
      dispatch. Our customer care team will send the buyer an email once the
      goods have been dispatched to confirm the designer has sent the order. The
      Fashion Connector is not involved in the delivery/shipping process in any
      way we are therefore not responsible for any delays caused by destination
      customs clearance processes, or any other delays incurred by the delivery
      carrier.
      <b
        >Please note, during days where delivery couriers such as Royal Mail,
        are undergoing industrial strike action we cannot guarantee a next day
        delivery service.</b
      >
      UK orders will only be considered undelivered after 30 calendar days have
      elapsed since the order was dispatched.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t8">RETURNS AND EXCHANGES</h3>
    <p>
      All designers using The Fashion Connector will provide a refund or
      exchange, on any non bespoke, non-personalised or items that are not
      made-to-order* purchased via our website, on the basis that you notify The
      Fashion Connector within 14 calendar days, starting from the day after
      your order is delivered to you, of you return/cancellation request. Once
      you have notified The Fashion Connector of your cancellation or return
      request you then have a further 14 calendar days to return your item back
      to us or the designer. You can also download and complete our cancellation
      form:
      <a
        href="/cancellation-form"
        target="_blank"
        style="color: #000000; font: 14px arial"
        ><b>Download Cancellation Form</b></a
      >. Which you can then send back to us via email. Once we've received your
      completed cancellation form we will provide you with return instructions
      on how to send your product back to either us or the designer.
      <b>Please note the buyer must bear the cost of returning the item. </b>
      The order must be returned, unused, in its original packaging with all
      relevant internal tags and seals in place, as the designer and The Fashion
      Connector will refuse to accept any items that are not in their original
      condition or have been used or are damaged. Please note, the buyer must
      bear the cost of returning the item unless the item is faulty. The buyer
      must also bear the cost of returning an item, bought, if the item is
      clearly marked as having a fault/or defect in the product description.
      <b
        >In addition to this late return requests, received outside of the 14
        calendar day cancellation/cooling-off period, will not be accepted.</b
      >
      Any goods received outside of our returns window will be sent back to the
      buyer and the buyer will have to bear the corresponding shipping cost.
      <b
        >*Personalised, made-to-order, or bespoke goods (including items that
        are re-sized) are exempt from the 14 day exchange/refund policy, unless
        they are faulty. *Earrings for pierced ears from the Monvatoo London
        collection, for hygeine reasons, are exempt from the 14 day returns
        policy and cannot be returned or refunded.</b
      >
      All other earrings sold by other designers are eligible for return on the
      condition that the safety tag/ safety packaging has not been removed. Once
      we or the designer has received your return The Fashion Connector will
      promptly issue a refund When returning a product back to us or a designer,
      the buyer is obliged to take reasonable care to ensure the product is
      returned securely and without damage. Refunds can only be issued via the
      original form of payment.
      <b
        >Important; to be eligible for a refund your purchase must be returned
        within the timescales indicated. Clearance items are non-returnable.</b
      >. For more information regarding returns & exchanges please refer to our
      Frequently Asked Questions:
      <a style="color: #000000; font-weight: bold" href="/customer-service/faq">FAQ's</a>
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t9">RECEIVING A REFUND</h3>
    <p>
      All our designers offer a no quibble 14 calendar day refund/exchange
      policy on all non-bespoke, non-personalised or items that are not
      made-to-order.
      <b
        >Personalised, made-to-order and bespoke items (including rings that
        have been re-sized) are exempt from our 14 day return policy and are
        therefore non-returnable/refundable.</b
      >
      In addition to this earrings, for pierced ears, purchased from designer
      Monvatoo London's collection, are exempt from our 14 day returns policy,
      for hygiene reasons, unless they are faulty. You have 14 calendar days,
      starting from the day after you receive your order, to notify us of your
      return/cancellation request. Following notification you have a further 14
      calendar days (starting from the day you notify us of you
      return/cancellation request) to return your item to be eligible for a
      refund. Any returns received outside of the 14 day notification period and
      subsequent 14-calendar day returns window will not be accepted, and no
      refund will be issued. Any refund issued will be credited, promptly, to
      the original purchaser's credit/debit card and will include original
      <b>standard</b> shipping costs, where applicable, for faulty items or for
      EU based orders, i.e., orders with a EU delivery address. Card refunds can
      take up to 10 business days for your bank to complete. This can vary,
      greatly, between card issuers and unfortunately, we are unable to
      influence this. Refunds will be issued promptly, as soon as the designer
      has received the returned product. For more information regarding returns
      & exchanges please refer to our Frequently Asked Questions:
      <a style="color: #000000; font-weight: bold" href="/customer-service/faq">FAQ's</a
      ><br /><br />
      <a class="back_to_top" href="#top">Back to top</a>
    </p>

    <h3 id="t10">Faulty goods</h3>
    <p>
      Goods are faulty if they are received damaged. Items that are damaged as a
      result of normal wear and tear, wrong use, deliberate misuse or accidental
      damage are not considered to be faulty.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t11">INTELLECTUAL PROPERTY AND SOFTWARE</h3>
    <p>
      Except where otherwise noted, The Fashion Connector Ltd holds all the
      intellectual property rights in the content of all thefashionconnector.com
      web pages (including, but not limited to the website design, website code,
      logo layout text graphics and arrangement) and in the software used
      therein which are all protected by copyright laws. All such rights are
      reserved by The Fashion Connector Ltd. Users may not publish or distribute
      in any format any of the software or copies of the software which appears
      on this website without consent of The Fashion Connector. Users may print
      or download images or materials from this site for their own personal use.
      Users may not use any such content of this website in connection with any
      business or commercial venture.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t12">PROPRIETARY RIGHTS IN IMAGES AND PRODUCTS</h3>
    <p>
      The ownership rights of all product images submitted by the various
      sellers displayed on The Fashion Connector are maintained by the
      corresponding sellers. Therefore The Fashion Connector does not claim any
      ownership rights concerning the product images which are on display.
      However, by providing the images to The Fashion Connector, each seller has
      granted The Fashion Connector the right to freely promote their work on
      their behalf whilst using the Fashion Connector platform. This is
      including, but not limited to use of their images for the homepage
      interface, blogs, promotional postcards, leaflets, business cards, social
      networking and media sites. In allowing The Fashion Connector the license
      to use their images each seller has confirmed that: (a) they own,
      part-own, the image rights or have sought permission to publicly display
      the images (b) they designed and developed the products described in the
      images so that The Fashion Connector has not infringed upon the privacy
      rights intellectual property rights and copyright or any other rights of
      any person or organisation. The Fashion Connector maintains the right to
      remove any images or profiles at any time at our discretion. The ownership
      rights of the product images submitted by the various Graduate Designers,
      displayed on the "Designer Showcase" section of the website are also
      maintained by the corresponding Designer. Therefore, the terms, as
      outlined, above pertaining to image rights, marketing and promotion also
      apply. In the event the Designer wishes to cease showcasing their Graduate
      Portfolio on our website, the designer must inform Us in writing. Further
      to notification all content relating to the Designer will be removed from
      our website within 14 days.
    </p>

    <h3 id="t13">PRIVACY</h3>

    <p>
      For more information regarding our Privacy Policy please refer to this
      link:
      <a
        style="font: 12px arial; color: #000000; font-weight: bold"
        href="/customer-service/cookies"
        >Privacy & Cookie Policy</a
      >
      The Fashion Connector is committed to maintaining the privacy of all of
      our users, therefore we will not disclose any personal information
      obtained from you to third parties. The information collected from
      customers on placing an order is used for billing and administrative
      purposes only and is kept confidential. When you place an order with us,
      we collect personal information that you have submitted, in relation to
      the order, such as your name, shipping & billing address, email address
      and phone number to enable us to process your order. If you purchase a
      product from any designer brand listed on our website the information you
      submit in the "delivery address" field at checkout only is passed onto the
      designer brand to enable them to proces and dispatch your order. Your
      email address is not disclosed to the designer brand. In addition to this
      any other information collected at checkout and payment is never shared
      with any third parties (unless to comply with a legal obligation) and is
      kept secure on our partners hosted 128 bit secure servers. From
      time-to-time we may send you promotional emails of new products or events.
      You are free to unsubscribe from these emails at any time using the
      directions shown on the email.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t14">COOKIES</h3>

    <p>
      For more information regarding our Cookie Policy please refer to this
      link:
      <a
        style="font: 12px arial; color: #000000; font-weight: bold"
        href="/customer-service/cookies"
        >Privacy & Cookie Policy</a
      >
      The Fashion Connector uses cookies to enhance the user experience on our
      website and to make browsing on our website faster. So for example you can
      opt for our website to remember and store your details at the Cart Page to
      facilitate faster shopping on your next visit. This action uses cookies.
      In addition to this on the pages of the Designer Showcase and other pages
      within our website you will note there are Google advertisements
      displayed. Consequently, the third party Google advertisers may place and
      read cookies on your browser, or use web beacons to collect information as
      a result of the ad serving on our web pages. A cookie is a piece of text
      that a web server can store on a user's computer. Cookies allow a website
      to store information on a user's machine and later retrieve that
      information this can make web browsing quicker and more efficient. We also
      use Remarketing with Google Analytics to advertise online. As a result
      third-party vendors, including Google, may show our ads on sites across
      the Internet. We and third-party vendors, including Google, use
      first-party cookies (such as the Google Analytics cookie) and third-party
      cookies (such as the DoubleClick cookie) together to inform, optimise and
      serve ads based on users past visits to our website. All modern browsers
      allow you to delete the cookies placed on your computer by adjusting the
      options in the settings panel of your browser. Cookies are also used
      within the overall site to allow you to use the shopping cart
      functionality.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t16">ACCURACY OF CONTENT</h3>

    <p>
      The Fashion Connector makes every effort to ensure that the information
      contained within this website is accurate and up-to-date and/or does not
      infringe the rights of any third party. Our product images and model shots
      are taken of the actual product that is intended for sale and accurately
      depict the style, colour and type of product. However, computer monitors
      may display colours differently and this varies between computer operating
      systems. This is a matter we have no control over. The Fashion Connector
      will not be held liable for any information contained in the website that
      is incorrect.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t1">DAMAGE TO YOUR COMPUTER OR OTHER DEVICE</h3>

    <p>
      The Fashion Connector takes good effort to ensure that this website is
      free from viruses and other harmful content. However, we cannot guarantee
      that your use of this website (including any content on it or any website
      linked to it) will not cause damage to your computer or other device. We
      will therefore not be liable for any loss or damage caused by viruses
      other technologically harmful or malicious material that may infect your
      computer equipment, computer programs, or data material, due to your use
      of this website or on any website linked to it. We therefore recommend
      that all internet users have up to date anti-virus software installed on
      their computers.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t19">LIMITS ON OUR LIABILITY</h3>

    <p>
      By using this website you agree The Fashion Connector, with the exception
      of the Luxe Collection, doesn’t have any direct control over the price,
      condition, quality, or legality of the products offered by the designers.
      This also applies to the description of the product as this is submitted
      to The Fashion Connector by the designer. Consequently, The Fashion
      Connector will not be at fault or bear any liability to you for any
      inaccuracies or discrepancies relating to the product whether it be a
      price inaccuracy, a description discrepancy or related to any direct
      transactions you may have with the designer. We are also not responsible
      for losses not caused by our breach or negligence, indirect losses which
      are a side effect of the main loss or damage and which are not reasonably
      foreseeable by you and us (for example, loss of profits or loss of
      opportunity). We are also not responsible for failure to meet any of our
      obligations under the terms and conditions where such failure is due to
      events beyond our reasonable control. In the case of negligence on our
      part where the losses are direct losses and the consequences of such a
      breach are reasonably foreseeable on our part, The Fashion Connector’s
      liability to you in connection with your use of the website and the
      contents shall be limited to £25. In the event you have a dispute with one
      or more of the designers, you agree to exempt us from any claims, demands
      or damages whether direct or indirect of any kind whatsoever that may
      result out of or in connection with such disputes. If you are found to be
      in breach of the terms and conditions and we take no action against you,
      we will still be entitled to use our rights and remedies in any other
      situation where you breach the terms and conditions. Furthermore, no
      waiver by us of any of the terms and conditions shall be effective unless
      it is expressly stated, in writing by us, to be a waiver. The terms and
      conditions together with all our policies and procedures will be governed
      by and construed in accordance to the relevant United Kingdom law and the
      relevant courts of the United Kingdom will have exclusive jurisdiction.
    </p>

    <a class="back_to_top" href="#top">Back to top</a>

    <h3 id="t20">COMPENSATION</h3>
    <p>
      At our request, you agree to compensate us fully, defend us, and hold us
      The Fashion Connector harmless immediately on demand, its officers,
      directors, affiliates, licensors and suppliers, from and against all
      liabilities, claims, expenses, damages and losses, including legal fees,
      arising from any breach of the terms and conditions by you, including the
      use by any other persons accessing this site using your internet account
      caused by your action or inaction.
    </p>
  </div>
</div>

<script type="module" src="/static/js/assets/bottommenu-B2A_ZWII.js" defer></script>

<%- include('footer') %>
