<%- include('header', { title: 'The Fashion Connector - wishlist' }) %>

<h1 class="wishlist-header">My Wishlist</h1>

<div class="wishlist-container">



</div>

<div class="bottom-pic-banners">
  <div>
    <section>
      <p>fine jewellery</p>
      <button><a href="/jewellery/rings"
      >shop now</a></button>
    </section>
    <img src="/static/static_jewellery_images/bottom_banner35.jpg" alt="jewellery-banner" />
  
  </div>
  <div>
    <section>
      <p>grab bags</p>
      <button><a href="/bags/tote"
      >shop now</a></button>
    </section>
    <img src="/static/static_bag_images/bottom_banner19.jpg" alt="bag-banner"
    />
  </div>
</div>

<script
  type="module"
  src="/static/js/assets/wishlistGet-DNvoZarM.js"
  defer
></script>
<%- include('footer') %>