<%- include('header', { title: 'The Fashion Connector - wishlist' }) %>

<h1 class="wishlist-header">My Wishlist</h1>
<div class="empty-wish">
<p>You have not added any items to your wishlist</p>

<button id="continue-shopping" type="button">continue shopping</button>
</div>

<div class="bottom-pic-banners">
  <div>
    <section>
      <p>fine jewellery</p>
      <button><a href="/jewellery/rings"
      >shop now</a></button>
    </section>
    <img src="/static/static_jewellery_images/bottom_banner35.jpg" alt="jewellery-banner" />
  
  </div>
  <div>
    <section>
      <p>grab bags</p>
      <button><a href="/bags/tote"
      >shop now</a></button>
    </section>
    <img src="/static/static_bag_images/bottom_banner19.jpg" alt="bag-banner"
    />
  </div>
</div>

<script
  type="module"
  src="/static/js/assets/wishlist-0fCWHQgI.js"
  defer
></script>

<%- include('footer') %>
