.menu-section {
  width: 25%;
  text-align: center;
}
.copyright {
  font-family:  Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.6rem;
  margin: 40px 20px;
}

.footer-menu {
  display: flex;
  margin: 40px 5px;
}

.menu-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-section li {
  margin-left: 0;
}

.menu-section li a {
  text-transform: capitalize;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000;
  text-decoration: none;
}

.menu-section ul.social-media {
  cursor: pointer;
}

ul.social-media img {
  width: 22px;
  height: auto;
}

ul.social-media img:hover {
  opacity: 0.7;
}

.desktop-subscribe {
  margin: 60px 0;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: center;
}

.desktop-subscribe p {
  font-family: Verdana, garamond, Geneva, Tahoma, sans-serif, sans-serif;
  font-size: 1rem;
}

.desktop-subscribe .subscribe-text,
#subscribe-response {
  font-size: 0.8rem;
  color: #303030;
}

.desktop-subscribe .hidden-subscribe-text {
  font-size: 0.8rem;
  color: #303030;
  width: 50%;
  margin: 0 auto;
  line-height: 150%;
  height: 0;
  overflow: hidden;
  transition: height 1s ease-out;
}
.mobile-subscribe .hidden-subscribe-mobile-text {
  font-size: 0.8rem;
  color: #303030;
  width: 100%;
  margin: 0 auto;
  line-height: 150%;
  height: 0;
  overflow: hidden;
  transition: height 1s ease-out;
}

#mobile-form {
  margin-top: 20px;
}

.desktop-subscribe input {
  padding: 6px;
  display: block;
  margin: 20px auto;
  width: 30%;
}
.mobile-subscribe {
  display: none;
}

.category-container {
  margin: 160px 10px 20px 10px;
}

.image-gallery-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.image-gallery-container .product-container {
  width: 23%;
  margin: 30px 10px;
  text-align: center;
}
.image-gallery-container .product-container img {
  width: 90%;
  height: auto;
}

.image-gallery-container p {
  line-height: 60%;
}

.footer-menu {
  margin-top: 50px;
}

.footer-menu p {
  text-transform: capitalize;
  font-size: 15px;
  font-family: Verdana, garamond, Geneva, Tahoma, sans-serif, sans-serif;
  font-weight: 900;
}

button#submit-button {
  display: inline-block;
  width: 20%;
  cursor: pointer;
  padding: 10px;
  color: #fff;
  background-color: #000;
  font: 14px arial;
  text-transform: capitalize;
  border: none;
  outline: none;
}

span#subscribe-response {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: normal;
  display: inline-block;
  width: 80%;
  font-size: 0.9rem;
}

.mobile-tab-bottom-menu {
  margin: 40px 0;
  display: none;
}

.mobile-tab-bottom-menu button {
  position: relative;
}

.mobile-subscribe {
  display: none;
}

.payment-options {
  margin: 40px 20px;
}

.payment-options p {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-family: Verdana, garamond, Geneva, Tahoma, sans-serif, sans-serif;
}

.payment-options img {
  width: 35%;
  height: auto;
  border: 1px solid #d3d3d3;
}

.footer-information {
  display: flex;
  text-align: center;
  padding: 16px 8px;
  background-color: #e8e8e8;
  margin: 30px 0;
}

.footer-information h5 {
  margin: 0;
  font-family: Verdana, garamond, Geneva, Tahoma, sans-serif, sans-serif;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.footer-information p {
  font-family:  Verdana, garamond, Geneva, Tahoma, sans-serif, sans-serif;
  font-size: 0.75rem;
  line-height: 120%;
  height: 30%;
}

.footer-information div {
  margin: 10px;
  width: 25%;
  
  padding: 16px
}

.footer-information img {
  width: 60%;
  height: auto;
}

@media only screen and (min-width: 769px) and (max-width: 992px) {
  .payment-options img {
    width: 50%;
    height: auto;
  }

  .payment-options p {
    font-size: 0.9rem;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .payment-options img {
    width: 50%;
    height: auto;
  }

  .payment-options p {
    font-size: 0.8rem;
  }
}


@media only screen and (min-width:801px) and (max-width: 980px){
  .footer-information p {
  font-size: 0.8rem;
  line-height: 120%;
  height: 40%;

}

.footer-information h5{
  height: 20%;
}

}



@media only screen and (max-width: 800px) {
  .footer-information {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin: 0 auto;
  }

  .footer-information div {
    padding: 15px 0;
    width: 100%;
    margin: 10px 0;
    background-color: #e8e8e8;
  }

  .footer-information img {
    width: 30%;
    height: auto;
  }

  .footer-information h5 {
    margin: 15px 0;
  }
}


@media only screen and (max-width: 1000px) {
  .mobile-subscribe {
    display: block;
    width: 95%;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 16px 5px;
  }
  .desktop-subscribe {
    display: none;
  }

  .mobile-subscribe p,
  span#mobile-subscribe-response {
    margin: 30px 1px;
    font-family:  Verdana, garamond, Geneva, Tahoma, sans-serif, sans-serif;
    font-size: 0.8rem;
    text-align: center;
  }

  .mobile-subscribe button {
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    display: inline-block;
    width: 50%;
    padding: 12px 8px;
    cursor: pointer;
  }

  .mobile-subscribe input {
    display: block;
    width: 80%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-menu {
    display: none;
  }

  .mobile-tab-bottom-menu {
    display: block;
  }

  .mobile-tab-bottom-menu button::after {
    content: "+";
    font-size: 1rem;
    position: absolute;
    right: 15px;
  }
  .mobile-tab-bottom-menu .open::after {
    content: "-";
    font-size: 1rem;
    position: absolute;
    right: 15px;
  }

  .mobile-tab-bottom-menu button {
    display: inline-block;
    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    font-family: Verdana, garamond, Geneva, Tahoma, sans-serif, sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: 1px solid rgb(218, 213, 213);
    position: relative;
  }

  .mobile-tab-bottom-menu .hidden-text {
    height: 0;
    overflow: hidden;
    transition: height 1s linear;
  }

  .mobile-tab-bottom-menu ul {
    list-style-type: none;
  }

  .mobile-tab-bottom-menu .hidden-text ul li {
    margin: 20px 0;
    font-size: 0.85rem;
    text-transform: capitalize;
  }

  .mobile-tab-bottom-menu .hidden-text ul li a {
    font: 0.75rem arial;
    color: #696969;
    text-decoration: none;
  }

  .mobile-tab-bottom-menu .hidden-text ul li a:hover {
    color: #0d0344;
  }  
}

@media only screen and (max-width: 600px) {
  .payment-options img {
    display: block;
    width: 90%;
    height: auto;
    margin: 0 auto;
  }

  .footer-information div p{
    font-size: 0.7rem;
  }

  .payment-options p {
    font-size: 0.8rem;
  }
  .mobile-subscribe p, .hidden-subscribe-mobile-text p{
    font-size: 0.8rem;
  }

  span#mobile-subscribe-response {
    font-size: 0.7rem;
  }

  .mobile-tab-bottom-menu button{
    font-size: 0.8rem;
  }
}