.showcase-top-image-banner {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 0;
  justify-content: space-between;
}

.showcase-top-image-banner .section {
  width: 18%;
  text-align: center;
  font-family: Verdana, garamond, Geneva, Tahoma, sans-serif, sans-serif;
  font-size: 0.8rem;
  margin: 0 10px;
}

.showcase-top-image-banner img {
  width: 100%;
  height: auto;
}

.showcase-gallery-container {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0;
  justify-content: center;
}

.showcase-gallery-container .section {
  width: 15%;
  margin: 10px;
  text-align: center;
}

.showcase-gallery-container .section img {
  width: 100%;
  height: auto;
}

.designer-name {
  text-align: center;
  font-family: Verdana, garamond, Geneva, Tahoma, sans-serif, sans-serif;
  text-transform: capitalize;
}

.designer-profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  font-family: Verdana, garamond, Geneva, Tahoma, sans-serif, sans-serif;
  font-size: 0.9rem;
  line-height: 170%;
  margin: 30px 0;
}

.designer-profile .bio,
.designer-profile .image-container {
  width: 33%;
  margin: 0 10px;
}

.designer-profile img {
  width: 95%;
  height: auto;
}
.thumb-images-container {
  display: flex;
  justify-content: space-between;
}

.thumb-images-container img {
  width: 95%;
  height: auto;
}

.showcase-modal {
  display: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.showcase-modal .left-arrow,
.showcase-modal .right-arrow {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
  margin: 0 10px;
}

.showcase-modal-visible {
  display: block;
}

.arrow-images-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-modal {
  font-size: 30px;
  color: #fff;
  text-align: right;
  margin: 30px;
  padding: 16px;
  cursor: pointer;
}

.showcase-modal-image-container {
  width: 70%;
  height: auto;
}

.showcase-modal-image-container img {
  width: 90%;
  height: auto;
}

@media only screen and (max-width: 1000px) {
  .designer-profile {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px 0;
  }

  .designer-profile .bio {
    width: 95%;
    text-align: justify;
    margin: 20px 5px;
  }

  .designer-profile .image-container {
    width: 95%;
    text-align: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1000px) {
  .showcase-gallery-container .section {
    width: 23%;
    margin: 10px 5px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .showcase-top-image-banner {
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .showcase-top-image-banner .section {
    flex: none;
    height: auto;
    width: 48%;
    margin: 10px;
    text-align: center;
  }

  .showcase-gallery-container .section {
    width: 23%;
    margin: 10px 5px;
  }

  .thumb-images-container {
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .thumb-images-container a {
    flex: none;
    display: inline-block;
    width: 25%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 599px) {
  html {
    box-sizing: border-box;
  }
  .showcase-top-image-banner {
    overflow-x: scroll;
    scrollbar-width: none;
  }
  .showcase-top-image-banner .section {
    flex: none;
    height: auto;
    width: 48%;
    margin: 10px;
    text-align: center;
  }
  .showcase-gallery-container .section {
    width: 46%;
    margin: 10px 5px;
  }

  .thumb-images-container {
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .thumb-images-container a {
    flex: none;
    display: inline-block;
    width: 34%;
  }
}
